* {
    box-sizing: border-box;
    margin    : 0;
    padding   : 0;
  }
  
  html {
    font-family: 'OpenSans-Regular';
    font-family: 'Questrial', sans-serif;
    font-size  : 62.5%;
  }
  
  body {
    margin          : 0;
    padding         : 0;
    background-color: #f4f4f4;
    color           : #3c484e;
    font-size       : 1.6rem;
  }
  
  main {
    display        : flex;
    flex-direction : column;
    align-items    : center;
    justify-content: center;
    justify-content: space-evenly;
    min-height     : 100vh;
    text-align     : center;
  }
  
  .logo-ciudad-ronovable {
    width: 100%;
  }
  
  .reloj {
    width: 22rem;
  }
  
  h2 {
    font-family   : 'Heebo', sans-serif;
    width         : 70%;
    font-style    : normal;
    font-weight   : 500;
    font-size     : 8rem;
    line-height   : 99.02%;
    text-align    : center;
    letter-spacing: 0.035em;
    color         : #021731;
    mix-blend-mode: normal;
  }
  
  p {
    width         : 70%;
    font-family   : 'Questrial';
    font-style    : normal;
    font-weight   : 400;
    font-size     : 3.6rem;
    line-height   : 117.52%;
    color         : #021731;
    mix-blend-mode: normal;
    text-align    : center;
    letter-spacing: 0.035em;
  }
  
  div {
    width          : 300px;
    display        : flex;
    justify-content: space-around
  }
  
  div img {
    width : 45px;
    height: 45px;
  }
  
  @media (max-width: 1500px) {
    .reloj {
      width: 15rem;
    }
  
    h2 {
      font-size: 6rem;
    }
  
    p {
      font-size: 3rem;
    }
  }
  
  @media (max-width: 500px) {
  
    main {
      padding: 3%;
    }
  
    .reloj {
      width: 80px;
    }
  
    h2 {
      font-size: 4rem;
    }
  
    p {
      font-size: 2rem;
    }
  }