---
import Layout from "../layouts/Layout.astro";
import { CarouselProjects } from "../components/CarouselProjects";
import { CarouselClients } from "../components/CarouselClients";
import { FormContact } from "../components/FormContact";
---

<Layout title="Ciudad Renovable">
	<main>
		<section class="banner"></section>

		<section class="manifest">
			<div>
				<h2>Manifesto de marca</h2>
				<p>
					Creemos que para ser coherentes con el bienestar que suscitamos, es
					necesario hablar desde las acciones y decisiones empresariales; por
					eso, y aunque estamos de acuerdo en que la palabra teje y construye,
					reflejamos nuestro impact compartiendo los resultados reales de lo que
					hacemos, de nuestra cultura interna de trabajo y de los cambios
					positivos en el planeta gracias a los proyectos sostenibles.
				</p>

				<div class="button_more">
					<a href="">Leer Más</a>
				</div>
			</div>
		</section>

		<section class="about">
			<div>
				<div>
					<h2>Quienes somos</h2>
					<p>
						Ciudad Renovable es una empresa especializada en el diseño,
						construcción, operación y consultoría de proyectos de ingeniería con
						enfoque en energía solar, asegurando la eficiencia energética y
						optimizando el uso de los recursos.
					</p>

					<div class="button_about">
						<a href="">Conoce más de nosotros</a>
					</div>
				</div>

				<video src=""></video>
			</div>
		</section>

		<section class="cotizar">
			<div>
				<a href="">Cotizar Proyecto</a>
			</div>
		</section>

		<section class="impact">
			<div>
				<h2>Nuestro impact en números</h2>
				<div class="impac_line"></div>
			</div>
			<img src="./images/impacto.png" alt="impact" />
		</section>

		<section class="projects">
			<div>
				<h2>Proyectos</h2>
				<div class="projects_line"></div>
			</div>

			<span>Te presentamos nuestros proyectos más destacados.</span>

			<div class="carousel_container">
				<CarouselProjects />
			</div>

			<div class="button_projects">
				<a href="#">Ver Más Proyectos</a>
			</div>
		</section>

		<section class="clients">
			<div>
				<h2>Nuestros Clientes</h2>
				<div class="line_clients"></div>
			</div>

			<div>
				<CarouselClients />
			</div>
		</section>

		<section class="contact">
			<div>
				<h2>Contáctanos</h2>
				<div class="line_contact"></div>
			</div>
			<span> Déjanos tus datos para obtener más información</span>

			<div>
				<FormContact />
			</div>
		</section>
	</main>

	<style>
		main {
			color: white;
			font-size: 20px;
			line-height: 1.6;
			overflow-x: hidden;
		}

		.banner {
			height: 80vh;
			background-position-y: 30%;
			background-image: url(/images/imgBanner.png);
			background-repeat: no-repeat;
			background-size: cover;
		}

		.manifest {
			height: 211px;
			background: #00e95f;
		}

		.manifest > div {
			max-width: 1438px;
			margin: 0 auto;
			height: 100%;
			display: flex;
			padding: 30px 50px;
			gap: 50px;
			align-items: center;
			justify-content: space-around;
		}

		.manifest h2 {
			color: #021731;
			font-size: 40px;
			font-style: normal;
			font-weight: 700;
			line-height: normal;
		}

		.manifest p {
			width: 574px;
			height: 114px;
			color: #000;

			font-size: 16px;
			font-style: normal;
			font-weight: 800;
			line-height: normal;
		}

		.button_more {
			display: flex;
			width: 170px;
			height: 54px;
			padding: 10px;
			justify-content: center;
			align-items: center;
			gap: 10px;
			flex-shrink: 0;
			border-radius: 37px;
			border: 1px solid #021731;
			color: #021731;
			font-size: 24px;
			font-style: normal;
			font-weight: 800;
			line-height: normal;
			transition: all 0.4s ease-out;
			cursor: pointer;
		}

		.button_more:hover {
			background-color: #021731;
			color: #00e95f;
		}

		.about {
			height: 484px;
		}

		.about > div {
			max-width: 1438px;
			display: flex;
			gap: 84px;
			align-items: center;
			height: 100%;
			margin: 0 auto;
		}

		.about > div > div {
			width: 50vw;
			display: flex;
			flex-direction: column;
			gap: 30px;
			padding: 0 50px;
		}

		.about div h2 {
			color: #51516b;
			/* H1 TITULOS */

			font-size: 43px;
			font-style: normal;
			font-weight: bolder;
			line-height: normal;
		}

		.about div p {
			color: #a8a8a8;
			font-size: 22px;
			font-style: normal;
			font-weight: 400;
			line-height: normal;
		}

		.button_about {
			display: flex;
			width: 337px;
			height: 58px;
			padding: 10px;
			justify-content: center;
			align-items: center;
			gap: 10px;
			flex-shrink: 0;
			border-radius: 37px;
			border: 1px solid #a8a8a8;
			color: #a8a8a8;
			text-align: center;
			font-size: 24px;
			font-style: normal;
			font-weight: 400;
			line-height: normal;
			transition: all 0.4s ease-out;
			cursor: pointer;
		}

		.button_about:hover {
			background-color: #00e95f;
			color: #021731;
		}

		.cotizar {
			height: 215px;
			background: #021731;
			display: grid;
			place-content: center;
		}

		.cotizar div {
			display: flex;
			width: 293px;
			height: 69px;
			justify-content: center;
			align-items: center;
			border-radius: 37px;
			border: 1px solid #00e95f;
			background: #00e95f;
			color: #021731;
			font-weight: 800;
			transition: all 0.4s ease-out;
			cursor: pointer;
		}

		.cotizar div:hover {
			background-color: #021731;
			color: #00e95f;
		}

		.impact {
			height: 554px;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			gap: 30px;
		}

		.impact h2 {
			color: #021731;
			font-size: 43px;
			font-style: normal;
			font-weight: 800;
			line-height: normal;
		}

		.impact .impac_line {
			width: 85.455px;
			height: 3px;
			background: #00e95f;
			margin: 0 auto;
		}

		.projects {
			height: 1034px;
			background: #dcdcdc;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: space-evenly;
		}

		.projects h2 {
			color: #021731;
			text-align: center;
			font-size: 43px;
			font-style: normal;
			font-weight: 800;
			line-height: normal;
		}

		.projects_line {
			width: 85.455px;
			height: 3px;
			background: #00e95f;
			margin: 0 auto;
		}

		.projects span {
			color: #51516b;
			text-align: center;
			font-size: 24px;
			font-style: normal;
			font-weight: 800;
			line-height: normal;
			text-transform: uppercase;
		}

		.carousel_container {
			width: 99vw;
			position: relative;
			height: 500px;
		}

		.button_projects {
			display: flex;
			width: 278px;
			height: 70px;
			padding: 10px 20px;
			justify-content: center;
			align-items: center;
			gap: 10px;
			flex-shrink: 0;
			border-radius: 37px;
			background-color: #00e95f;
			font-size: 20px;
			font-style: normal;
			font-weight: 800;
			line-height: normal;
			color: #021731;
		}

		.clients {
			height: 350px;
			background: white;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: space-evenly;
		}

		.clients h2 {
			font-size: 43px;
			font-style: normal;
			font-weight: 700;
			line-height: normal;
			text-align: center;
			color: #021731;
		}

		.line_clients,
		.line_contact {
			width: 85.455px;
			height: 3px;
			background-color: #00e95f;
			margin: 0 auto;
		}

		.contact {
			display: flex;
			flex-direction: column;
			align-items: center;
			gap: 30px;
		}

		.contact h2 {
			font-size: 43px;
			font-style: normal;
			font-weight: 700;
			line-height: normal;
			color: #021731;
		}

		.contact span {
			font-size: 20px;
			font-style: normal;
			font-weight: 700;
			line-height: normal;
			color: #51516b;
			text-align: center;
		}
	</style>
</Layout>
