* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  background: #fff;
  color: #000;
  scroll-behavior: smooth;
  font-size: 62.5%;
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style: none;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
}