<header>
	<a href="/">
		<img src="./images/menu.svg" alt="logo" />
	</a>

	<nav>
		<ul class="list_nav">
			<li>
				<a href="/">INICIO</a>
			</li>
			<li>
				<a href="">SERVICIOS</a>
			</li>
			<li>
				<a href="">NOSOTROS</a>
			</li>
			<li>
				<a href="/proyectos">PROYECTOS</a>
			</li>
			<li>
				<a href="">COTIZACIÓN</a>
			</li>
			<li>
				<a href="">CONTACTO</a>
			</li>
		</ul>
	</nav>
</header>

<style>
	header {
		display: flex;
		height: 123px;
		max-width: 1438px;
		justify-content: space-between;
		align-items: center;
		padding: 0 50px;
		margin: 0 auto;
	}

	.list_nav {
		display: flex;
	}

	.list_nav li {
		width: 116px;
		text-align: center;
		border-left: 1px solid #00e95f;
		color: #51516b;
		font-size: 14px;
		font-style: normal;
		font-weight: bolder;
		line-height: normal;
	}
</style>
